<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="{{article.meta_description}}">
        <meta property="og:url" content="{% url 'blog' article.category.slug article.slug %}">
        <meta property="og:title" content="{{article.ogp_title}}">
        <meta proparty="og:description" content="{{article.meta_description}}">
        <meta proparty="og:image" content="{{article.ogp_img.url}}">
        <meta proparty="og:type" content="{{article.category.slug}}">
        <meta proparty="og:site_name" content="AdmiralHondaの航海日誌">
        <meta proparty="og:locale" content="ja_JP">

        {%load static%}
        <link rel="stylesheet" type="text/css" href="{%static 'blog.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <title>{{article.title}}</title>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div  class="col-xs-12" style="background-color: darkcyan;color:white;">
                    <h1>Blog of AdmiralHonda</h1>
                    <p>プログラミングや趣味のアウトドアについて色々</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <center>
                        <h1>
                            {{article.title}}
                        </h1>
                    </center>
                    <p style="float: right;">更新日<br>{{article.up_date}}</p>
                    {%if category%}
                    <button class="btn-square-shadow" onclick="location.href='{% url 'category' category.slug 1 %}'">{{category.name}}</button>
                    <br>
                    {%else%}
                    {%endif%}
                    {%if tags %}
                    {% for tag in tags %}
                    <button class="btn-square-shadow" onclick="location.href='{%url 'category' tag.slug 2 %}'">{{tag.name}}</button>
                    {%endfor%}
                    {%else%}
                    {%endif%}
                    <article>
                        {{article.exchange_markdown|safe}}
                    </article>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3"></div>
                <div class="col-xs-2">
                    <button><</button>
                </div>
                <div class="col-xs-2">
                    <button onclick="location.href='{%url 'index'%}'">home</button>
                </div>
                <div class="col-xs-2">
                    <button>></button>
                </div>
                <div class="col-xs-3"></div>
            </div>
            <div class="row">
                {%if recommend%}
                {% for article in recommend %}
                    <div class="col-xs-3">
                        <a href="{% url 'blog' article.4 article.0 %}">
                            <div class="thumbnail">
                                <img src="{{MEDIA_URL}}{{article.2}}" style="width: 100;" alt="srticle.0">
                            </div>
                            <div class="caption">
                                <p>{{article.1}}</p>
                            </div>
                        </a>
                    </div>
                {%endfor%}
                {%else%}
                {%endif%}
            </div>

        </div>
        <!--page end-->
    </body>
</html>