<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="dscription" content="AdmiralHondaの人生という航海の中での日誌">
        <title>AdmiralHondaの航海日誌</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{%static 'index.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    
    <body>
        <div class="container">
            <!--header-->
            <div class="row">
                <div  class="col-xs-12" style="background-color: darkcyan;color:white;">
                    <h1>Blog of AdmiralHonda</h1>
                    <p>プログラミングや趣味のアウトドアについて色々</p>
                </div>
            </div>
            <!--ArticleList-->
            <div class="row">
                <div class="col-xs-8">
                    <h3>最近の更新</h3>
                    {% if article %}
                    {% for topic in article %}
                    <div class="box7">
                        <p>{{topic.4}}</p>
                        <div class="media-left">
                            <img src="{{MEDIA_URL}}{{topic.3}}" class="media-object" style="width: 250px;height:250px">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">{{topic.1}}</h3>
                            <p>{{topic.2}}</p>
                        </div>
                        <center>
                            <button class="btn-square-slant" onclick="location.href='{% url 'blog' topic.6 topic.0 %}'">READ MORE</button>
                        </center>
                    </div>
                    {% endfor %}
                    <center>
                    <ul class="pagination">
                        <!--{%if previous_page%}
                        <li><a href="?page={{previous_page}}">前のページ</a></li>
                        {%else%}
                        {%endif%}-->
                            {%for page in page_num%}
                            {%if page == current_page %}
                            <li class="active"><a href="?page={{page}}">{{page}}</a></li>
                            {%else%}
                            <li><a href="?page={{page}}">{{page}}</a></li>
                            {%endif%}
                            {%endfor%}
                            <!--
                        {%if next_page%}
                        <li><a href="?page={{next_page}}">次のページ</a></li>
                        {%else%}
                        {%endif%}-->
                      </ul>
                      </center>
                    {% else %}
                    <p>ただいま障害が発生中です。少々お待ちください</p>
                    {% endif %}
                </div>
                <div class="col-xs-4">
                    <div class="box27">
                        <span class="box-title">Author</span>
                        {%if author%}
                        <center>
                            <img src="{{author.0.profimg.url}}" style="width: 200px;height:200px">
                            </center>
                            <h4>{{author.0.name}}</h4>
                            {{author.0.exchange_markdown|safe}}
                        {%else%}
                        <p>まだないみたい</p>
                        {%endif%}
                    </div>
                    <!--↑profile-->
                </div>
                <!--↑-->
            </div>
        </div>
    </body>
</html>